* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background: url(https://cloclo1.cloud.mail.ru/weblink/view/LpA9/Ehm9QznFf) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 90vh;
  height: 100%;
}

.icon {
  margin: 5px;
}

.icArrow {
  margin-left: 5px;
}

.icProfile {
  margin-right: 5px;
}

a {
  color: #737373;
}
