* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background: url(https://cloclo53.cloud.mail.ru/weblink/view/LpA9/Ehm9QznFf) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 90vh;
  height: 100%;
}

li {
  list-style-type: none; /* Убираем маркеры */
  cursor: pointer;
}

.icError {
  margin: 5px;
  color: #ff004c;
}

.icArrow {
  margin-left: 5px;
}

.icProfile {
  margin-right: 5px;
}

.icBigError {
  color: #818a91;
}

a {
  color: #737373;
}
