@import "../../styles/variables";

.product__inner {
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-width: 200px;
  min-height: 100px;
  height: 100%;
  align-items: center;
  transform-style: preserve-3d;
  transition: 0.7s all ease;
  position: relative;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: 5px solid transparent;
  border-radius: 15px;
  color: $neonColor;
  margin: 20px;

  &:hover {
    border: 5px solid $neonColor;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: $neonShadow;

    .product__inner {
      transform: rotateY(180deg);
    }
  }
}

.product__category {
  color: #212121;
  background-color: #818a91;
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  text-align: center;

  &__image {
    object-fit: cover;
    max-height: 30px;
  }
}

.back {
  align-items: center;
  position: absolute;
  transform: rotateY(180deg);
  padding: 10px;

  & p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  &__button {
    cursor: pointer;
    border-radius: 10px;
    color: $neonColor;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 40px;
    width: 40%;
    height: 40px;

    &:hover {
      box-shadow: $neonShadow;
    }
  }
}

.front {
  display: flex;
  flex-direction: column;

  & .product__image {
    max-width: 250px;
    min-height: 140px;
    object-fit: cover;
    border-radius: 10px;
  }
}

.back,
.front {
  backface-visibility: hidden;
}

.title {
  font-family: Brutal, sans-serif;
}
