.page {
  display: flex;
  flex-direction: column;
  background: url(https://psv4.userapi.com/c532036/u474384247/docs/d29/72af9848043c/9569841645fbed874149cd093896b26f8280bb62.gif?extra=gmqUahn4-iyjlJMLqLk1ZQyZJVRGKZ2KL9WJNln-bA-on8Qn2Dt0FEr70rWfnM5UVkybWt8yp5Ek9pQtleyYn5av-hw_NsFZPiX8NoP7xqfx7yajrBbLwDuoA_uvRckta6qakd5vRPHBJe0E6WVlighERLQ)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 90vh;
  color: black;
  align-items: center;
}

.about-inner {
  text-align: center;
  justify-content: center;
  font-size: 30px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  color: #00aced;
  display: flex;
}

.home {
  background-color: #343148;
}

.products {
  background-color: darkorange;
}

.no__products {
  color: #00aced;
  padding: 10px;
  margin-top: 50px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  font-size: 50px;
}
