.header {
  display: flex;
  height: 6vh;
  background-color: #26272b;
}

.header__title {
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  font-size: 150%;
  text-decoration: none;
  padding-left: 10px;

  &:hover,
  &:focus {
    color: #00aced;
  }
}

.header__link {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  transition: 0.5s all;
  padding: 0 15px 0 15px;
  font-size: 85%;

  &:focus {
    color: #00aced;
    border-bottom: 3px solid #00aced;
  }

  &:hover {
    background-color: #818a91;
    color: #212121;
  }
}

.header__logout {
  display: flex;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0 15px 0 15px;
  justify-content: center;
  align-items: center;
  color: #818a91;
  cursor: pointer;
  transition: 0.5s all;

  &:hover,
  &:focus {
    color: #212121;
    background-color: #818a91;
  }
}

.header__money {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.active {
  color: #00aced;
  border-bottom: 3px solid #00aced;
}

.modalButton {
  transition: 0.5s all;
  box-sizing: border-box;

  &:hover,
  &:focus {
    background: #818a91;
  }
}

.modalButton__button {
  color: #737373;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  text-decoration: none;
  padding: 0 15px 0 15px;
  cursor: pointer;
  background: none;
  font-size: unset;

  &:hover {
    color: #26272b;
  }
}
