.header {
  display: flex;
  height: 6vh;
  background-color: #26272b;
}

.header__title {
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  font-size: 150%;
  text-decoration: none;
  padding-left: 10px;

  &:hover {
    color: #00aced;
  }
}
