.header {
  display: flex;
  height: 6vh;
  justify-content: space-around;
  background-color: #26272b;
}

.header__title {
  width: 30%;
  font-size: 200%;
  text-decoration: none;
  padding: 5px;

  &:hover {
    color: #c5e56e;
  }
}
