.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  max-width: 220px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
  border-bottom: 5px solid transparent;
  border-radius: 15px;
  color: #00aced;

  & img {
    max-width: 120px;
  }

  &:hover {
    background: #818a91;
    color: #212121;
    border-bottom: 5px solid #00aced;
  }
}
