.site-footer {
  background-color: #26272b;
  padding: 20px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
  text-align: center;
  align-content: center;
}

.social-icons a {
  padding: 7px;
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons a img {
  width: 50px;
  height: 50px;
}

.site-footer a {
  color: #737373;
}

.site-footer .social-icons a {
  width: 50px;
  height: 50px;
  line-height: 40px;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin-bottom: 20px;
}

.social-icons {
  padding-right: 2vw;
  align-items: center;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.site-footer a:hover {
  color: #c5e56e;
  text-decoration: none;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.ubisoft:hover {
  background-color: #3b5998;
}

.social-icons a.eaGames:hover {
  background-color: #00aced;
}

.social-icons a.steam:hover {
  background-color: #007bb6;
}

.social-icons a.rockStar:hover {
  background-color: #ea4c89;
}
