.navbar {
  margin-left: auto;

  & .navbar__link {
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0 15px 0 15px;

    &:focus {
      color: #00aced;
      border-bottom: 3px solid #00aced;
    }

    &:hover {
      background: #818a91;
      color: #212121;
    }
  }
}

.navbar__list {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 100%;
}

.navbar__item {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  transition: 0.5s all;
  box-sizing: border-box;

  &:hover,
  &:focus {
    background: #818a91;
  }
}

.active {
  color: #00aced;
  border-bottom: 3px solid #00aced;
}
