@import "../styles/variables";

.form {
  display: flex;
  flex-direction: column;

  &__title {
    margin: 0 0 20px 0;
    padding: 5px 0;
    color: $neonColor;
    border-bottom: 2px solid $neonColor;
  }
}

.form__submit {
  align-self: center;
  background-color: transparent;
  outline: none;
  border-color: $backColor;
  color: $backColor;
  width: 50%;
  height: 40px;
  margin-top: 10px;
  border-radius: 20px;
  transition: 0.5s;

  &:valid {
    border-color: $neonColor;
    color: $neonColor;
    cursor: pointer;

    &:hover,
    &:focus {
      box-shadow: $neonShadow;
    }
  }
}
